@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
:root{
    font-size: 100vw;
}
.Winners{
    width: 73%;
    min-height: 663px;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 60px auto;
}

.titelWinners{
    margin: 60px 60px 40px 60px;
    color: #ffff;
    font-family: 'Golos Text', sans-serif;
    font-size: 1.875%;
}

/*320px*/
@media screen and (max-width: 1024px){
    .Winners{
        width: 260px;
        height: 1098px;
        padding: 0;
        margin: 20px auto;
    }
    .titelWinners{
        margin: 20px auto 0;
        width: 220px;
        height: 57px;

        font-weight: 600;
        font-size: 16px;
        line-height: 120%;

        text-align: center;
    }
}
