@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@600&display=swap');
.Candidate{
    display: flex;

    width: 1280px;
    max-height: 460px;
    background-color: #111111;
    border-radius: 20px;

    margin-bottom: 20px;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 1000px;
    height: 79px;
}

.text a{
    text-decoration: none;
}

.photo{
    box-sizing: border-box;

    width: 100px;
    height: 100px;

    border: 2px solid #ADFF00;
    border-radius: 10px;

    margin: 20px;
}

.name{
    min-width: 193px;
    max-height: 29px;

    font-family: 'Golos Text', sans-serif;
    font-size: 24px;
    line-height: 120%;

    color: #FFFFFF;

    margin-bottom: 0;
}

.vk{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    min-width: 126px;
    min-height: 33px;

    border: none;
    border-radius: 10px;

    background: #ADFF00;
    padding: 11px 7.2px 12px 7.2px;
}

.vk h5{
    margin: 0;
    font-family: 'Golos Text', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;

    color: #1E1E1E;
}

.date{
    display: flex;
    align-items: flex-start;

    width: 196px;
    height: 43px;
}

.date h4{
    width: 136px;
    height: 43px;

    font-family: 'Golos Text', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;

    color: #FFFFFF;
}