@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&display=swap');
@import '/src/media-mixin';

.elections {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    &__inner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media(width, [92%, 92%, 80%]);
        @include media(padding, [20px, 20px, 60px]);
        box-sizing: border-box;

        border-radius: 20px;
        background-color: #1e1e1e;
    }

    &__title {
        text-align: center;
        color: #ffffff;

        font-size: 1.5rem;
    }

    &__timer {
        @include media(margin-top, [6px, 6px, 6px, 10px]);

        text-align: center;
        color: #aaaaaa;
    }

    &__candidates {
        @media screen and (max-width: 800px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            margin-top: 20px;
            margin-right: -12px; // тк есть отступы между кандидатами в 12px
        }

        width: 100%;
        margin-top: 40px;
    }

    &__warning {
        @include media(margin-top, [20px, 20px, 20px, 40px]);

        color: #aaaaaa;
    }
    &__votebutton{
        cursor: pointer;


        margin-top: 31px;

        width: 316px;
        height: 57px;

        background: #ADFF00;

        border: none;
        border-radius: 20px;

        font-family: 'Golos Text', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 120%;

        @media screen and (max-width: 800px) {
            width: 166px;
            height: 33px;
            margin-top: 20px;

            font-size: 18px;
        }
    }
    &__votebutton:disabled{
        cursor: not-allowed;
        background: #363636;
        color: #1E1E1E;
    }

}
