@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@600&display=swap');

:root{
    font-size: 100vw;
}

.headerWrapp {
    background-color: #1E1E1E;
    min-height: 80px;
    max-height: 80px;
    width: 100%;
}

.logo img {
    width: 40px;
    padding: 20px;
}

.h1 {
    padding-bottom: 29px;
    padding-top: 29px;
    margin: 0;
    font-size: 0.9375%;
    color: #ffff;
    font-family: 'Golos Text', sans-serif;
}

.logo {
    margin: 0 auto;
    display: flex;
    width: 73%
}

.registration {
    cursor: pointer;

    display: flex;
    flex-wrap: wrap;

    align-content: center;
    justify-content: center;

    width: 215px;
    height: 32px;
    background: #ADFF00;
    border: none;
    border-radius: 7px;
}

.registration h5 {
    margin: 0;
    font-family: 'Golos Text', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.6px;

}

.typeButton {
    margin-left: auto;
    margin-right: 20px;
    margin-top: 24px;
}

.typeButton a {
    text-decoration: none;
}


